@import url('https://fonts.googleapis.com/css2?family=Inder&family=Kalnia:wght@100..700&display=swap');

body{
    margin: 0; 
    background-color: rgb(250,242,226);
    margin:0% auto;
    max-width: 100%;
    font-family: "Inder", system-ui;
}

header{
    text-align: center;
    margin: auto;
    margin-top: 15%;
}


nav{
   max-width: 20%;
   position: fixed;
   font-family: "Inder", sans-serif;
background-color: rgb(254,245,245);
height: 100vh;
margin: 1%;
margin-bottom: 3%;
top: 0;
left: 0;
padding: 1%;
padding-bottom: 3%;
overflow-y: scroll;
overflow-x: none;

}
nav:hover{
 transform: scale(1.05);
}
main{
  
  max-width: 65%; 
  margin-left: 30%;
  padding: 3%; 
  display: flex;
  flex-wrap: wrap;
 flex-direction: row;
 align-content: center;
 justify-content: space-around;
 align-items: center;

}

img{
border-image: auto;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
 align-items: wrap;
 border-right: 10%;
 flex-wrap: wrap-reverse;
 flex-direction: row;
 justify-content: space-between;
 border-radius: 2%;

}
img:hover{
  transform: scale(1.50);
}
section {
  background-color: rgb(227,236,233);
  width: 35%;
  margin: 5%;
  padding: 3%;
  margin-bottom: 10px;
  border-radius: 10px; 
 }
  
p {
  text-align: center;
  background-color: rgb(255,255,243);
  font-family: "Inder", system-ui;

}
#gif {
  border-style: none;
  background-image: url(../img/green.jpg);
  border: 3pt solid rgb(255,255,243);
   }

h1, h2{
  text-align: center;
  font-family:"Kalnia", serif;
  font-size: 16pt;
  color: rgb(237,7,159);
}


footer h1{
background-color: rgb(237,185,185);
text-align: center;
padding: 2%;
width: 12%;
margin-left: 82%;
border-radius: 12%;
font-family:"Inder", system-ui;
}


#friends {
  background-color: rgb(227,236,233);
  border: 3pt solid rgb(255,255,243);
  font-size: 10pt;
  padding-bottom: 2%;
  margin-bottom: 25%;
}
#friends h1:hover{
  opacity: 50%;
}
a{
  text-decoration: none;
}
a:hover{
  transform: skew(20deg,10deg);
}

h2{
  color: rgb(237,7,159);
  text-align: center;
  font-family:"Kalnia", serif;
  font-size: 30pt;
  
  
}
.welcome:hover{
  transform: skew(5deg,5deg);
}

.welcome {
font-family:"Kalnia", serif;
padding-left: 15%;
padding-right: 15%;
background-color:rgb(237,185,185);
border-radius: 10px;
text-align: center;
}

.twinkle {
margin-bottom: 25%;
}

.welcome h1 {
  font-size: 30pt;
  font-style: bold;
  width: 300px;
  text-align: center;
}
.alarm {
margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.vsco {
  margin: 1%;
  flex-basis: 35%; 
  border: 2pt solid  rgb(254,245,245);
  padding: 1%;
}
.isu{
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.phonecall {
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.instagram {
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.whatsapp {
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.clock {
  margin: 1%;
  flex-basis: 35%;
  border: 2pt solid  rgb(254,245,245);
  padding: 1%;
}
.lock {
margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.snapchat {
  margin: 1%;
  flex-basis: 35%;
  border: 2pt solid  rgb(254,245,245);
  padding: 1%;
}
.home {
  margin: 1%;
  flex-basis: 35%;
  border: 2pt solid  rgb(254,245,245);
  padding: 1%;
}
#minimalist {
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
#netflix {
margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
}
.messages {
  margin: 1%;
flex-basis: 35%;
border: 2pt solid  rgb(254,245,245);
padding: 1%;
max-width: 30%;
}
.caption{
flex-wrap: nowrap;
color: rgb(237,7,159);
font-size: 10pt;
word-wrap: normal;
border-radius: 15px;
border-width: 10%;
padding:2%;
text-align: center;
}

