@import url('https://fonts.googleapis.com/css2?family=Inder&family=Kalnia:wght@100..700&display=swap');

body{
    margin: 0; 
    background-color: rgb(250,242,226);
    margin:0% auto;
    max-width: 100%;
    font-family: "Inder", system-ui;
}

header{
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

header img:hover {
  transform: scale 1.05;
  opacity: .5;
}

nav{
   max-width: 25%;
   position: fixed;
   font-family: "Inder", sans-serif;
background-color: rgb(254,245,245);
border: 3px, dotted rgb(237,185,185);
height: 100vh;
margin: 1%;
margin-bottom: 3%;
top: 0;
left: 0;
padding: 1%;
padding-bottom: 3%;
}
main{
  
  max-width: 65%; 
  margin-left: 30%;
  padding: 3%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 align-items: center;
}

img{
border-image: auto;
border:10px, dotted, rgb(237,185,185);
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
 align-items: wrap;
 border-right: 10%;
 flex-wrap: wrap-reverse;
 flex-direction: row;
 justify-content: space-between;
 border-radius: 2%;

}
section {
  background-color: rgb(227,236,233);
  width: 60%;
  margin: 5%;
  padding: 3%;
  margin-bottom: 10px;
  border-radius: 10px;
  
}

section img {
  padding: 5%;
  border: 20px, dotted, rgb(254,245,245);
}
section img:hover {
transform: rotate(1.05);
}
p {
  text-align: center;
  background-color: rgb(255,255,243);
  font-family: "Inder", system-ui;

}
#gif {
  border-style: none;
  background-image: url(../img/green.jpg);
  border: 3pt solid rgb(255,255,243);
}
h1, h2{
  text-align: center;
  font-family:"Kalnia", serif;
  font-size: 16pt;
  color: rgb(237,7,159);
}


footer h1{
background-color: rgb(237,185,185);
text-align: center;
padding: 1%;
width: 10%;
margin-left: 85%;
border-radius: 12%;
font-family:"Inder", system-ui;
}

#friends {
  background-color: rgb(227,236,233);
  border: 3pt solid rgb(255,255,243);
  font-size: 10pt;
  padding-bottom: 2%;
  
}
a{
  text-decoration: none;
}
a:hover{
  opacity: .5;
}
h2{
  color: rgb(237,7,159);
  text-align: center;
  font-family:"Kalnia", serif;
  font-size: 30pt;
}

p{
color: rgb(237,7,159);
font-size: 13pt;
word-wrap: normal;
border-radius: 15px;
border-width: 10%;
padding:2%;
text-align: center;
}

#welcome {
font-family:"Kalnia", serif;
padding: 2%;
background-color:rgb(237,185,185);
border-radius: 10px;
}

#welcome h1 {
  font-size: 30pt;
  font-style: bold;
}
#alarm {
  display: flex;
margin: 5px;
flex-basis: 30%;
flex-direction: row;
justify-content: space-around; 
align-items: flex-end;
border: 2pt solid  rgb(254,245,245);
}
#vsco {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  border: 2pt solid  rgb(254,245,245);
}
#isu{
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#phonecall {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#instagram {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#whatsapp {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#clock {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid rgb(254,245,245);
}
#lock {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#snapchat {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#home {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#minimalist {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
#netflix {
  display: flex;
  margin: 5px;
  flex-basis: 30%; 
  flex-direction: row;
  justify-content: space-around;
  border: 2pt solid  rgb(254,245,245);
}
